<!DOCTYPE html>
<html lang="ja">

</html>

<head>
    <meta charset="UTF-8">
    <!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- jQuery読み込み -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <title>TOP</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <div class="top-wrapper">
            <div class="top-image">
                <p>
                    <font color=#FF9900>Lex</font><font color=#003366>Sol</font>
                </p>
            </div>
            <h1 class="title">勤怠管理システム</h1>
    </header>
    <div class="sidebar">
        <ul>
            <li><button>Home</button></li>
            <li><button>設定</button></li>
            <li><button>その他</button></li>
        </ul>
    </div>
    <p class="description">
    </p>
    <ul>
        <li><a href="/upload" class="btn btn-primary active">ファイルをアップロードするc</a></li>>
        <li><a href="/upload" class="btn btn-primary active">勤怠時間を確認する</a></li>>
    </ul>
    </div>
</body>

</html>